<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
    <title>shell845 | blog</title>
</head>

<body class="m-sticky-site">
<!-- Nav bar-->
<nav th:replace="admin/_fragments :: menu(0)"></nav>
<div th:replace="admin/_fragments :: subbar"></div>

<!-- Content -->
<div class="m-container-small m-padded-tb-mid">
    <div class="ui container">
        <form action="#" method="post" class="ui segment form">
            <div class="inline fields">
                <div class="field">
                    <input type="text" name="title" placeholder="Title">
                </div>
                <div class="field">
                    <div class="ui selection dropdown">
                        <input type="hidden" name="type">
                        <i class="dropdown icon"></i>
                        <div class="default text">Type</div>
                        <div class="menu">
                            <div class="item" data-value="1">Error</div>
                            <div class="item" data-value="2">Log</div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="recommend" name="recommend">
                        <label for="recommend">Recommend</label>
                    </div>
                </div>
                <div class="field">
                    <button class="ui olive basic button"><i class="search icon"></i>Search</button>
                </div>
            </div>
        </form>
        <!--table-->
        <table class="ui table">
            <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Type</th>
                <th>Recommend</th>
                <th>Post time</th>
                <th>Operation</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Title1</td>
                <td>types</td>
                <td>Yes</td>
                <td>2020-02-02 9:30</td>
                <td>
                    <a href="#" class="ui mini olive button"> Edit </a>
                    <a href="#" class="ui mini orange button">Delete</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="6">
                    <div class="ui pagination menu">
                        <a href="#" class="item">
                            <i class="left chevron icon"></i>
                        </a>
                        <a class="icon item">
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                    <a href="#" class="ui right floated basic olive button">Add</a>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<!-- Footer -->
<main class="m-sticky-site-content"></main>
<footer th:replace="admin/_fragments :: footer"></footer>
<!-- JavaScript -->
<th:block th:replace="_fragments :: script"></th:block>
</body>
</html>