<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <title>shell845 | 404</title>
</head>

<body class="m-sticky-site">
<!-- Nav bar-->
<nav th:replace="_fragments :: menu(1)" ></nav>

<!-- content -->
<div class="m-container-small m-padded-tb-large">
    <div class="ui error message">
        <div class="ui container">
            <h2 class="ui center aligned header">404</h2>
            <br>
            <h3 class="ui center aligned header">Oops the page is gone...sorry...</h3>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>

<!-- Footer -->
<main class="m-sticky-site-content"></main>
<footer th:replace="_fragments :: footer"></footer>
<!-- JavaScript -->
<th:block th:replace="_fragments :: script"></th:block>
</body>
</html>