<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <title>shell845 | home</title>
</head>

<body>
<!-- Nav bar-->
<nav th:replace="_fragments :: menu(1)" ></nav>

<!-- Content -->
<div class="m-container m-padded-tb-mid">
    <div class="ui container">
        <div class="ui stackable grid">
            <!--Left content-->
            <div class="twelve wide column">
                <!--content header-->
                <div class="ui top attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui header"><span style="color: #6BB6A1">Blog</span></h3>
                        </div>
                        <div class="right aligned column">
                            <h2 class="ui header m-inline-block m-text-thin"><span style="color: #6BB6A1"># </span></h2>
                            <span class="m-poolside">posts</span>
                        </div>
                    </div>
                </div>
                <!--content list-->
                <div class="ui attached segment">
                    <!--test 1-->
                    <div class="ui padded vertical segment m-padded-tb-mid">
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <h3 class="ui header">Test1</h3>
                                <p class="m-text">Testing here</p>
                                <div class="ui stackable grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://picsum.photos/id/102/100/100" alt="" class="ui avatar image">
                                                <div class="content"><a href="#" class="header">shell845</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 04-09-2020
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 2834
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" class="ui basic label m-text-thin m-padded-mini"><span style="color: #6BB6A1">a tag</span></a>
                                    </div>
                                </div>
                            </div>

                            <div class="five wide column">
                                <a href="#">
                                    <img src="https://picsum.photos/id/102/600/400" alt="" class="ui rounded image">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--test 2-->
                    <div class="ui padded vertical segment m-padded-tb-mid">
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <h3 class="ui header">Test1</h3>
                                <p class="m-text">Testing here</p>
                                <div class="ui stackable grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://picsum.photos/id/102/100/100" alt="" class="ui avatar image">
                                                <div class="content"><a href="#" class="header">shell845</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 04-09-2020
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 2834
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" class="ui basic label m-text-thin m-padded-mini"><span style="color: #6BB6A1">a tag</span></a>
                                    </div>
                                </div>
                            </div>

                            <div class="five wide column">
                                <a href="#">
                                    <img src="https://picsum.photos/id/102/600/400" alt="" class="ui rounded image">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--content bottom-->
                <div class="ui bottom attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <a href="#" class="ui mini teal basic button">Prev</a>
                        </div>
                        <div class="right aligned column">
                            <a href="#" class="ui mini teal basic button">Next</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Right content-->
            <div class="four wide column">
                <!-- category -->
                <div class="ui segments">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column"><i class="fas fa-book"></i> Categories
                            </div>
                            <div class="right aligned column"><a href="#"><i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui segment">
                        <div class="ui fluid vertical menu">
                            <a href="#" class="item">
                                <span class="m-poolside">Study</span>
                                <div class="ui teal basic left pointing label m-text-thin">13</div>
                            </a>
                            <a href="#" class="item">
                                <span class="m-poolside">Study</span>
                                <div class="ui teal basic left pointing label m-text-thin">13</div>
                            </a>
                            <a href="#" class="item">
                                <span class="m-poolside">Study</span>
                                <div class="ui teal basic left pointing label m-text-thin">13</div>
                            </a>
                            <a href="#" class="item">
                                <span class="m-poolside">Study</span>
                                <div class="ui teal basic left pointing label m-text-thin">13</div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- tags -->
                <div class="ui segments">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column"><i class="fas fa-tag"></i> Tags
                            </div>
                            <div class="right aligned column"><a href="#"><i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui segment">
                        <a href="#" class="ui teal basic left pointing label m-margin-tb-mini">
                            tagA <div class="detail">9</div>
                        </a>
                        <a href="#" class="ui teal basic left pointing label m-margin-tb-mini">
                            tagB <div class="detail">9</div>
                        </a>
                        <a href="#" class="ui teal basic left pointing label m-margin-tb-mini">
                            tagB <div class="detail">9</div>
                        </a>
                    </div>
                </div>
                <!-- latest -->
                <div class="ui segments">
                    <div class="ui secondary segment">
                        <i class="fab fa-hotjar"></i> Latest</div>
                        <div class="ui segment">
                            <a href="#" class="m-poolside"> Story 1 </a>
                        </div>
                        <div class="ui segment">
                            <a href="#" class="m-poolside"> Story 2</a>
                        </div>
                        <div class="ui segment">
                            <a href="#" class="m-poolside"> Story 3</a>
                        </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Footer -->
<footer th:replace="_fragments :: footer"></footer>

<!-- JavaScript -->
<th:block th:replace="_fragments :: script"></th:block>

</body>
</html>